<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/icon.webp">
    <Title>Who am I?</Title>

</head>
<body>
	<header>
        <div class="header-container">
			<h1 class="header-logo"><a href="/">Leonid Burbygin</a></h1>
            <nav class="navigation">
                <a class="link" href="/">HOME</a>
                <a class="link" href="/projects">PROJECTS</a>
                <a class="link" href="/about">ABOUT ME</a>
                <a class="link" href="/contact">CONTACT</a>
            </nav>
        </div>
    </header>
	
</body>
</html>