<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Information</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/icon.webp">
</head>

<body>
	<header>
        <div class="header-container">
            <h1 class="header-logo"><a href="/">Leonid Burbygin</a></h1>
            <nav class="navigation">
                <a class="link" href="/">HOME</a>
                <a class="link" href="/projects">PROJECTS</a>
                <a class="link" href="/about">ABOUT ME</a>
                <a class="link" href="/contact">CONTACT</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="contact-info">
            <div class="contact-item">
                <img src="../static/email.png" alt="Gmail Logo">
                <a href="mailto:burbygin.leo@gmail.com" class="contact-text" target="_blank">burbygin.leo@gmail.com</a>

            </div>
            <div class="contact-item">
                <img src="../static/linked.png" alt="LinkedIn Logo">
                <a href="https://www.linkedin.com/in/burbyleo" class="contact-text" target="_blank">https://www.linkedin.com/in/burbyleo</a>
            </div>
            <div class="contact-item">
                <img src="../static/tg.webp" alt="Telegram Logo">
                <a href="https://t.me/Toprak_from_Iraq" class="contact-text" target="_blank">@Toprak_from_Iraq</a>
            </div>
        </div>
    </div>
</body>
</html>
