<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leonid Burbygin</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/icon.webp">
    <script src="../static/cells.js"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <h1 class="header-logo"><a href="/">Leonid Burbygin</a></h1>
            <nav class="navigation">
                <a class="link" href="/">HOME</a>
                <a class="link" href="/projects">PROJECTS</a>
                <a class="link" href="/about">ABOUT ME</a>
                <a class="link" href="/contact">CONTACT</a>
            </nav>
        </div>
    </header>

    <main>
        <p class="main-text">I am a computer scientist with a passion for creating useful and innovative tools...</p>
        
    </main>
</body>
</html>
