<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/icon.webp">
    <title>PROJECTS</title>
  </head>

  <body>
    <header>
      <div class="header-container">
        <h1 class="header-logo"><a href="/">Leonid Burbygin</a></h1>
        <nav class="navigation">
          <a class="link" href="/">HOME</a>
          <a class="link" href="/projects">PROJECTS</a>
          <a class="link" href="/about">ABOUT ME</a>
          <a class="link" href="/contact">CONTACT</a>
        </nav>
      </div>
    </header>

    <main>
      <section class="tool-container">
        <a class="tool-link" href="#">Podcasts</a>
      </section>

        <section class="tool-container">
            <a class="tool-link" href="#">Computer Science Roadmap</a>
        </section>

      <section class="tool-container">
        <a class="tool-link" href="#">Bachelor Thesis</a>
      </section>
    </main>

  </body>
</html>
